@model Insurance.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="b-message message-error" style="display: none;">
        @Html.ValidationSummary(true)
        <div class="message-close icon-remove"></div>
    </div>
    <div class="input-wrap m-full-width">
        <i class="icon-lock"></i>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "field-name", placeholder = "Old Password (require)" })
    </div>
                
    <div class="b-message message-error" style="display: none;">
        @Html.ValidationMessageFor(model => model.OldPassword)
        <div class="message-close icon-remove"></div>
    </div>
        
    <div class="input-wrap m-full-width">
        <i class="icon-lock"></i>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "field-name", placeholder = "New Password (require)" })
    </div>
                
    <div class="b-message message-error" style="display: none;">
        @Html.ValidationMessageFor(model => model.NewPassword)
        <div class="message-close icon-remove"></div>
    </div>

    <div class="input-wrap m-full-width">
        <i class="icon-lock"></i>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "field-name", placeholder = "Confirm Password (require)" })
    </div>
                
    <div class="b-message message-error" style="display: none;">
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        <div class="message-close icon-remove"></div>
    </div>

    <div class="m-full-width">
        <input id="changePass" class="btn-submit btn colored" type="submit" value="Change Password" />
    </div>
}
