@model Watch.Models.LocalPasswordModel

<div class="manage-title">
    <h2>Change Password</h2>
</div>
<div class="manage-form" style="margin-top: 40px;">
    <div id="message-success" class="bg-color-green fg-color-white padding10" style="width: 290px; margin-bottom: 20px; display: none;">@ViewBag.StatusMessage</div>
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="label">
            @Html.LabelFor(m => Model.OldPassword)
        </div>
        <div class="input-control password as-block" style="width: 290px;">
            @Html.PasswordFor(m => Model.OldPassword, new { type = "password", placeholder = "Old Password" })
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
        <div class="label">
            @Html.LabelFor(m => Model.NewPassword)
        </div>
        <div class="input-control password as-block" style="width: 290px;">
            @Html.PasswordFor(m => Model.NewPassword, new { type = "password", placeholder = "New Password" })
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
                
        <div class="label">
            @Html.LabelFor(m => Model.ConfirmPassword)
        </div>
        <div class="input-control password as-block" style="width: 290px; margin-bottom: 20px;">
            @Html.PasswordFor(m => Model.ConfirmPassword, new { type = "password", placeholder = "Confirm Password" })
            <button class="btn-reveal" tabindex="-1" type="button"></button>
        </div>
        <input type="submit" class="button bg-color-blue" value="Change password" />
    }
</div>
