@model Insurance.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<div class="b-titlebar">
    <div class="layout">
        <!-- Bread Crumbs -->
        <ul class="crumbs">
            <li>You are here:</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>Login</li>
        </ul>
        <!-- Title -->
        <h1>Customer Login</h1>
    </div>
</div>

<div class="content">
    <div class="layout">
        <div class="row-item col-1_4" style="margin: 20px auto 20px 350px;">
            @using (Html.BeginForm("Login", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="b-message message-error" style="display: none;">
                    @Html.ValidationSummary(true)
                    <div class="message-close icon-remove"></div>
                </div>

                <div class="input-wrap m-full-width">
                    <i class="icon-user"></i>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "field-name", data_rule_required = "true", placeholder = "User Name (require)" })
                </div>
                <div class="b-message message-error" style="display: none;">
                    @Html.ValidationMessageFor(model => model.UserName)
                    <div class="message-close icon-remove"></div>
                </div>
                <div class="input-wrap m-full-width">
                    <i class="icon-lock"></i>
                    @Html.PasswordFor(model => model.Password, new { @class = "field-name", data_rule_required = "true", placeholder = "Password (require)" })
                </div>
                <div class="b-message message-error" style="display: none;">
                    @Html.ValidationMessageFor(model => model.Password)
                    <div class="message-close icon-remove"></div>
                </div>
                <div class="m-full-width" style="margin-bottom: 10px;">
                    @Html.CheckBoxFor(model => model.RememberMe)
                    @Html.LabelFor(model => model.RememberMe)
                </div>
                <div class="m-full-width">
                    <input id="submitLogin" class="btn-submit btn colored" type="submit" value="Login" />
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.message-error').each(function () {
                var text = $(this).text().trim();
                if (text.length > 0) {
                    $(this).show();
                }
            });
        });
    </script>
}