@model Insurance.Models.Policy

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Add Policy";
}
@section breadcrumbs {
    <li>
		<a href="~/Admin/Policy/">Policy</a>
        <i class="icon-angle-right"></i>
	</li>
    <li>
		<a href="~/Admin/Policy/">Add Policy</a>
	</li>
}
<div class="row-fluid">
<div class="span12">
    <div class="box box-bordered box-color">
        <div class="box-title">
            <h3><i class="icon-th-list"></i>New Policy</h3>
        </div>
        <div class="box-content nopadding">
            @using (Html.BeginForm("Create", "Policy", FormMethod.Post, new { @class = "form-horizontal form-bordered form-validate",id="test" }))
            {
                @Html.ValidationSummary(true)
                <div class="control-group">
                    @Html.LabelFor(model => model.PolicyType, new { @class = "control-label", @for = "PolicyType" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.PolicyType, new { @class = "input-xlarge", placeholder = "Policy Type", data_rule_required = "true" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.PolicyDuration, new { @class = "control-label", @for = "PolicyDuration" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.PolicyDuration, new { @class = "input-xlarge", placeholder = "Policy Duration", data_rule_digits = "true", data_rule_required = "true" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.PolicyPrice, new { @class = "control-label", @for = "PolicyPrice" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.PolicyPrice, new { @class = "input-xlarge", placeholder = "Policy Duration", data_rule_number = "true", data_rule_required = "true" })
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>