@model Insurance.Models.Policy

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Detail Policy";
}
@section breadcrumbs {
    <li>
        <a href="~/Admin/Policy/">Policy</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Policy/Details/@Model.PolicyId">Policy Detail</a>
    </li>
}
<div class="row-fluid">
    <div class="span8">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-th-list"></i>Policy "@Model.PolicyType"</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("Edit/" + @Model.PolicyId, "Policy", FormMethod.Get, new { @class = "form-horizontal form-bordered", id = "test" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(model => model.PolicyType, new { @class = "control-label", @for = "PolicyType" })
                        <div class="controls">
                            @Model.PolicyType
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.PolicyDuration, new { @class = "control-label", @for = "PolicyDuration" })
                        <div class="controls">
                            @Model.PolicyDuration Days
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.PolicyPrice, new { @class = "control-label", @for = "PolicyPrice" })
                        <div class="controls">
                            $@Model.PolicyPrice
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label", @for = "Description" })
                        <div class="controls">
                            @{ string desc = Model.Description.Replace(System.Environment.NewLine, "<br />");}
                            <span style="white-space: pre-line">@Model.Description</span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-edit"></i> Edit Policy</button>
                        <button type="button" class="btn"><i class="icon-arrow-left"></i> Back</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
