@model Insurance.Models.Policy

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Edit Policy";
}
@section breadcrumbs {
    <li>
		<a href="~/Admin/Policy/">Policy</a>
        <i class="icon-angle-right"></i>
	</li>
    <li>
		<a href="~/Admin/Policy/">Edit Policy</a>
	</li>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Policy</legend>

        @Html.HiddenFor(model => model.PolicyId)

        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyType)
            @Html.ValidationMessageFor(model => model.PolicyType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyDuration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyDuration)
            @Html.ValidationMessageFor(model => model.PolicyDuration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PolicyPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PolicyPrice)
            @Html.ValidationMessageFor(model => model.PolicyPrice)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
