@model Insurance.Models.Customer

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Customer Detail";
}
@section breadcrumbs {
    <li>
        <a href="~/Admin/Customer/">Customer</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Customer/Details/@Model.CustomerId">Customer Detail</a>
    </li>
}
<div class="row-fluid">
    <div class="span8">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-th-list"></i>Customer "@Model.CustomerName"</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("Edit/" + @Model.CustomerId, "Customer", FormMethod.Get, new { @class = "form-horizontal form-bordered", id = "test" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label", @for = "UserName" })
                        <div class="controls">
                            @Model.UserName
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CustomerName, new { @class = "control-label", @for = "CustomerName" })
                        <div class="controls">
                            @Model.CustomerName
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CustomerAddress, new { @class = "control-label", @for = "CustomerAddress" })
                        <div class="controls">
                            @Model.CustomerAddress
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.CustomerPhone, new { @class = "control-label", @for = "CustomerPhone" })
                        <div class="controls">
                            @Model.CustomerPhone
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Vehicles</label>
                        <div class="controls">
                            @Model.Vehicles.Count.ToString()
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-edit"></i> Edit Customer</button>
                        <button type="button" class="btn"><i class="icon-arrow-left"></i> Back</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
