@model Insurance.Areas.Admin.Models.CustomerEdit

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Customer \"" + Model.Customer.CustomerName + "\"";
}
@section breadcrumbs {
    <li>
        <a href="~/Admin/Customer/">Customer</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Customer/Details/@Model.Customer.CustomerId">Customer "@Model.Customer.CustomerName"</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Customer/Edit/@Model.Customer.CustomerId">Edit</a>
    </li>
}
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3><i class="icon-th-list"></i>Customer "@Model.Customer.CustomerName"</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @class = "form-horizontal form-bordered form-validate", id = "test" }))
                {
                    if (!Html.ViewData.ModelState.IsValid)
                    {
                    <div class="alert alert-error" style="margin-bottom: 0px !important;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Html.ValidationSummary()
                    </div>
                    }
                    <div class="control-group">
                        @Html.LabelFor(model => model.Customer.UserName, new { @class = "control-label", @for = "Customer_UserName", @readonly = "readonly" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Customer.UserName, new { @class = "input-xlarge", data_rule_required = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label", @for = "Password" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Password, new { @class = "input-xlarge", data_rule_required = "true", type = "password" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label", @for = "ConfirmPassword" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "input-xlarge", data_rule_required = "true", type = "password" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Customer.CustomerName, new { @class = "control-label", @for = "Customer_CustomerName" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Customer.CustomerName, new { @class = "input-xlarge", data_rule_required = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Customer.CustomerAddress, new { @class = "control-label", @for = "Customer_CustomerAddress" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Customer.CustomerAddress, new { @class = "input-xlarge", data_rule_required = "true" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.Customer.CustomerPhone, new { @class = "control-label", @for = "Customer_CustomerPhone" })
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Customer.CustomerPhone, new { @class = "input-xlarge", data_rule_required = "true", data_rule_digits = "true" })
                        </div>
                    </div>
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.Customer.CustomerId)
                        <button type="submit" class="btn btn-primary"><i class="icon-edit"></i>&nbsp;Edit </button>
                        <button type="button" class="btn" onclick="javascript:location.href='@Url.Action("Index")'"><i class="icon-undo"></i>&nbsp;Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
