@model IEnumerable<Insurance.Models.CustomerPolicy>

@{
    ViewBag.Title = "Customer Policy List";
}
<div class="b-titlebar">
    <div class="layout">
        <!-- Bread Crumbs -->
        <ul class="crumbs">
            <li>You are here:</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>Claims</li>
        </ul>
        <!-- Title -->
        <h1>Customer Policy List</h1>
    </div>
</div>
<div class="content">
    <div class="layout">
        @if (Model.Count() > 0)
        {
            <div class="b-table">
                <table>
                    <thead>
                        <tr>
                            <td>Policy Type
                            </td>
                            <td>Vehicle
                            </td>
                            <td>Date Start
                            </td>
                            <td>Date End
                            </td>
                            <td style="width: 110px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Policy.PolicyType
                                </td>
                                <td>@item.Vehicle.VehicleName
                                </td>
                                <td>@item.StartDate.ToShortDateString()
                                </td>
                                <td>@item.EndDate.ToShortDateString()
                                </td>
                                <td style="width: 110px;">
                                    @if (DateTime.Now.CompareTo(item.EndDate) < 1)
                                    {
                                        @Html.ActionLink("Create Claim", "Create", "Claim", new { custPolicyId = item.CustPolicyId }, new { @class = "btn small red", style = "margin-bottom: 0" })
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="notification">
                <p>You cann't create claim.</p>
                <p>You can choose to buy one of our products to create claim by clicking on @Html.ActionLink("this link", "Index", "Home").</p>
                <p>Browser will automatically redirect in <span id="seconds">5</span> seconds.</p>
            </div>
            @section Scripts {
            <script type="text/javascript">
                window.setInterval(function () {
                    var seconds = $("#seconds").text();
                    $("#seconds").text(seconds - 1);
                }, 1000);
                window.setInterval(function () {
                    window.location.href = "/Home"
                }, 5000);
    </script>
            }
        }
    </div>
</div>

