@model Insurance.Models.Vehicle

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = Model.VehicleName + " Detail";
}
@section breadcrumbs {
    <li>
        <a href="~/Admin/Customer/">Customer</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Vehicle/">Vehicle</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Vehicle/Details/@Model.VehicleId">@Model.VehicleName</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="~/Admin/Vehicle/Details/@Model.VehicleId">Details</a>
    </li>
}

<div class="row-fluid">
    <div class="span8">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-th-list"></i>Vehicle "@Model.VehicleName"</h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("Edit/" + @Model.VehicleId, "Vehicle", FormMethod.Get, new { @class = "form-horizontal form-bordered", id = "test" }))
                {
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleName, new { @class = "control-label", @for = "VehicleName" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleName" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Customer Name</label>
                        <div class="controls">
                            <input type="text" value="@Model.Customer.CustomerName" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleNumber, new { @class = "control-label", @for = "VehicleNumber" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleNumber" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleModel, new { @class = "control-label", @for = "VehicleModel" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleModel" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleVersion, new { @class = "control-label", @for = "VehicleVersion" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleVersion" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleBodyNumber, new { @class = "control-label", @for = "VehicleBodyNumber" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleBodyNumber" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleEngineNumber, new { @class = "control-label", @for = "VehicleEngineNumber" })
                        <div class="controls">
                            <input type="text" value="@Model.VehicleEngineNumber" style="border:none !important;background-color:#fff !important;" disabled="disabled" />

                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(model => model.VehicleWarranty, new { @class = "control-label", @for = "VehicleWarranty" })
                        <div class="controls">
                            @Html.CheckBoxFor(model => model.VehicleWarranty, new { @class = "icheck-me", data_skin = "square", data_color = "blue", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-edit"></i>&nbsp;Edit </button>
                        <button type="button" class="btn" onclick="javascript:location.href='@Url.Action("Index")'"><i class="icon-arrow-left"></i>&nbsp;Back</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
