@{Insurance.Areas.Admin.Models.Admin admin = (Insurance.Areas.Admin.Models.Admin)Session["Admin"];}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Car Insurance</title>
    <link href="~/Areas/Admin/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/admin/Content/bootstrap")
    @Styles.Render("~/admin/Content/plugins/jquery-ui")
    @Styles.Render("~/admin/Content/plugins/chosen")
    @Styles.Render("~/admin/Content/plugins/select2")
    @Styles.Render("~/admin/Content/plugins/icheck")
    @Styles.Render("~/admin/Content/style")
    @Styles.Render("~/admin/Content/themes")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navigation">
        <div class="container-fluid">
            <a href="#" id="brand">FLAT</a>
            <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>

            <div class="user">
                <ul class="icon-nav">
                    <li class="dropdown sett">
                        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
                        <ul class="dropdown-menu pull-right theme-settings">
                            <li>
                                <span>Layout-width</span>
                                <div class="version-toggle">
                                    <a href="#" class='set-fixed'>Fixed</a>
                                    <a href="#" class="active set-fluid">Fluid</a>
                                </div>
                            </li>
                            <li>
                                <span>Topbar</span>
                                <div class="topbar-toggle">
                                    <a href="#" class='set-topbar-fixed'>Fixed</a>
                                    <a href="#" class="active set-topbar-default">Default</a>
                                </div>
                            </li>
                            <li>
                                <span>Sidebar</span>
                                <div class="sidebar-toggle">
                                    <a href="#" class='set-sidebar-fixed'>Fixed</a>
                                    <a href="#" class="active set-sidebar-default">Default</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class='dropdown colo'>
                        <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-tint"></i></a>
                        <ul class="dropdown-menu pull-right theme-colors">
                            <li class="subtitle">Predefined colors
							</li>
                            <li>
                                <span class='red'></span>
                                <span class='orange'></span>
                                <span class='green'></span>
                                <span class="brown"></span>
                                <span class="blue"></span>
                                <span class='lime'></span>
                                <span class="teal"></span>
                                <span class="purple"></span>
                                <span class="pink"></span>
                                <span class="magenta"></span>
                                <span class="grey"></span>
                                <span class="darkblue"></span>
                                <span class="lightred"></span>
                                <span class="lightgrey"></span>
                                <span class="satblue"></span>
                                <span class="satgreen"></span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">@admin.UserName
                        <img src="~/Areas/Admin/Images/demo/user-avatar.jpg" alt=""></a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="~/Admin/Account/Edit/@admin.AdminId">Account settings</a>
                        </li>
                        <li>
                            <a href="~/Admin/Account/Logout">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="content">
        <div id="left">
            <div class="subnav">
                <div class="subnav-title">
                    <a href="~/Admin" class="toggle-subnav"><i class="icon-angle-down"></i><span>Dashboard</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Statistics</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </div>
            <div class="subnav <!--@if (!ViewContext.RouteData.Values["controller"].Equals("Policy")) { @Html.Raw("subnav-hidden") } -->">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Policy Manager</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="~/Admin/Policy">List Policies</a>
                    </li>
                    <li>
                        <a href="~/Admin/Policy/Create">Add Policy</a>
                    </li>
                </ul>
            </div>
            <div class="subnav <!--@if (!ViewContext.RouteData.Values["controller"].Equals("Customer")) { @Html.Raw("subnav-hidden") }-->">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Customer Manager</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="~/Admin/Customer">List Customers</a>
                    </li>
                    <li>
                        <a href="~/Admin/Vehicle">List Vehicles</a>
                    </li>
                    <li>
                        <a href="~/Admin/CustomerPolicy">List Policies</a>
                    </li>
                    <li>
                        <a href="~/Admin/Bill">List Billings</a>
                    </li>
                    <li>
                        <a href="~/Admin/Claim">List Claims</a>
                    </li>
                    <li>
                        <a href="~/Admin/Testimonial">List Testimonials</a>
                    </li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Expense Manager</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="#">List Expenses</a>
                    </li>
                    <li>
                        <a href="#">Add Expense</a>
                    </li>
                </ul>
            </div>
            <div class="subnav">
                <div class="subnav-title">
                    <a href="#" class='toggle-subnav'><i class="icon-angle-right"></i><span>Admin Manager</span></a>
                </div>
                <ul class="subnav-menu">
                    <li>
                        <a href="#">List Administrators</a>
                    </li>
                    <li>
                        <a href="#">Add Administrator</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="pull-left">
                        <h1>@ViewBag.Title</h1>
                    </div>
                    <div class="pull-right">
                        <ul class="stats">
                            <li class='lightred'>
                                <i class="icon-calendar"></i>
                                <div class="details">
                                    <span class="big">February 22, 2013</span>
                                    <span>Wednesday, 13:56</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="~/Admin/">Home</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        @RenderSection("breadcrumbs", required: false)
                    </ul>
                    <div class="close-bread">
                        <a href="#"><i class="icon-remove"></i></a>
                    </div>
                </div>
                 @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Areas/Admin/Scripts/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="~/Areas/Admin/Scripts/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
    <!-- Touch enable for jquery UI -->
    <script src="~/Areas/Admin/Scripts/plugins/touch-punch/jquery.touch-punch.min.js"></script>
    <!-- slimScroll -->
    <script src="~/Areas/Admin/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Admin/Scripts/bootstrap.min.js"></script>
    <!-- Bootbox -->
    <script src="~/Areas/Admin/Scripts/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- imagesLoaded -->
    <script src="~/Areas/Admin/Scripts/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- Chosen -->
    <script src="~/Areas/Admin/Scripts/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- select2 -->
    <script src="~/Areas/Admin/Scripts/plugins/select2/select2.min.js"></script>
    <!-- icheck -->
    <script src="~/Areas/Admin/Scripts/plugins/icheck/jquery.icheck.min.js"></script>
    <!-- Bootbox -->
    <script src="~/Areas/Admin/Scripts/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- Bootbox -->
    <script src="~/Areas/Admin/Scripts/plugins/form/jquery.form.min.js"></script>
    <!-- Validation -->
    <script src="~/Areas/Admin/Scripts/plugins/validation/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Scripts/plugins/validation/additional-methods.min.js"></script>
    <!-- Theme framework -->
    <script src="~/Areas/Admin/Scripts/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="~/Areas/Admin/Scripts/application.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
