<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/main")
    @Styles.Render("~/Content/responsive")
    @*@Styles.Render("~/Content/prettyPhoto")*@
    @Styles.Render("~/Content/settings")
    @Styles.Render("~/Content/turquoise")

</head>

<body>

    <div class="main">

        <!-- TOP BAR 
	============================================= -->
        <div class="b-top-bar">
            <div class="layout">
                <!-- Some text -->
                <div class="wrap-left">
                    <!-- Phone -->
                    <span class="top-bar-phone"><span class="icon-phone">Call us: </span>1.244.145.3232</span>
                    <!-- Social Icons -->
                    <div class="top-bar-social">
                        <a class="fb" href="#"><i class="icon-facebook"></i></a>
                        <a class="tw" href="#"><i class="icon-twitter"></i></a>
                        <a class="lin" href="#"><i class="icon-linkedin"></i></a>
                        <a class="gl" href="#"><i class="icon-google-plus"></i></a>
                        <a class="dr" href="#"><i class="icon-dribbble"></i></a>
                        <a class="sk" href="#"><i class="icon-skype"></i></a>
                    </div>
                    <!-- End Social Icons -->

                </div>
                <div class="wrap-right">
                    @Html.Partial("_Login")
                </div>
            </div>
        </div>
        <!-- END TOP BAR 
	============================================= -->

        <!-- HEADER 
	============================================= -->
        @Html.Partial("_Menu")
        <!-- END HEADER 
	============================================= -->

        <!-- CONTENT 
	============================================= -->
        <div>
            @RenderBody()
        </div>
        <!-- END CONTENT 
	============================================= -->

        <!-- FOOTER 
	============================================= -->
        <div class="footer">
            <!-- Widget Area -->
            <div class="b-widgets">
                <div class="layout">
                    <div class="row">
                        <!-- About -->
                        <div class="row-item col-1_4">
                            <img src="../../Content/img/logo.png" alt="" style="margin-bottom: 10px;">
                            <p>
                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                            </p>
                        </div>
                        <!-- End About -->
                        <!-- Latest Tweets -->
                        <div class="row-item col-1_4">
                            <h3>Latest Tweets</h3>
                            <div class="b-twitter m-footer">
                                <ul>
                                    <!-- Twitter Message 1 -->
                                    <li>
                                        <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#" class="link">http://twitter.com</a></span>
                                        <span class="twit-date">Jan 7, 2013</span>
                                    </li>
                                    <!-- Twitter Message 2 -->
                                    <li>
                                        <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aliquid :) <a href="#" class="link">http://twitter.com</a></span>
                                        <span class="twit-date">Jan 7, 2013</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Latest Tweets -->
                        <!-- Latest Project -->
                        <div class="row-item col-1_4">
                            <h3>Latest Projects</h3>
                            <div class="latest-project">
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-1.jpg" alt=""></a>
                                </div>
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-2.jpg" alt=""></a>
                                </div>
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-3.jpg" alt=""></a>
                                </div>
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-4.jpg" alt=""></a>
                                </div>
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-5.jpg" alt=""></a>
                                </div>
                                <div class="latest-project-item">
                                    <a href="#">
                                        <img src="../../Content/img/elements/rp-6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Latest Project -->
                        <!-- Contact Information -->
                        <div class="row-item col-1_4">
                            <h3>Contact Information</h3>
                            <!-- Address -->
                            <ul class="b-list b-contact m-dark" style="margin-bottom: 15px;">
                                <li class="contact-address"><i class="icon-map-marker"></i><span>103088. Ut wisi enim ad minim veniam, quis nostrud.</span></li>
                                <li class="contact-mail"><i class="icon-envelope"></i><a href="#">mail@mail.com</a></li>
                                <li class="contact-phone"><i class="icon-phone"></i><span>+1 (229) 991-22-11</span></li>
                                <li class="contact-address"><i class="icon-time"></i><span>Monday-Friday: 9:<sup>00</sup> — 18:<sup>00</sup><br>
                                    Saturday: 10:<sup>00</sup> — 17:<sup>00</sup><br>
                                    Sunday: closed</span>
                                </li>
                            </ul>
                            <!-- End Address -->
                        </div>
                        <!-- End Contact Information -->
                    </div>
                </div>
            </div>
            <!-- End Widget Area -->
            <!-- Copyright Area -->
            <div class="b-copyright">
                <div class="layout">
                    <!-- Copyright Text -->
                    <span class="copy">Copyright © 2013 <a href="#">Boson</a>. All Right Reserved.</span>
                    <!-- Social Icons -->
                    <ul class="b-social bot">
                        <li>Follow Us:</li>
                        <li><a class="fb" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="tw" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gl" href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a class="dr" href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a class="sk" href="#"><i class="icon-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END FOOTER 
	============================================= -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/slider")
    @RenderSection("scripts", required: false)
</body>
</html>
