@model Insurance.Models.Claim

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}
@{
    ViewBag.Title = "Details";
}
    <div class="row-fluid">
        <div class="span2"><p>Details</p> </div>
        <div class="span10">
            
            <p>
                @Html.ActionLink("Edit", "Edit", new { id=Model.ClaimId }) 
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
<div class="row-fluid">
    
    <div class="span12">
    
    <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>$</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>AccidentPlace</td>
                  <td>@Html.DisplayFor(model => model.AccidentPlace)</td>
                  
                </tr>
                <tr>
                  <td>AccidentDate</td>
                  <td> @Html.DisplayFor(model => model.AccidentDate)</td>
                  
                </tr>

                <tr>
                  <td>InsuredAmount</td>
                  <td>@Html.DisplayFor(model => model.InsuredAmount)</td>                  
                </tr>

                 <tr>
                  <td>ClaimableAmount</td>
                  <td>@Html.DisplayFor(model => model.ClaimableAmount)</td>                  
                </tr>

                 <tr>
                  <td>policy</td>
                  <td>@Html.DisplayFor(model => model.CustomerPolicy.Policy)</td>                  
                </tr>

              </tbody>
            </table>
        
    </div>
</div>

